<div ng-controller = "homeController">

    <div ng-show="tempPlayer == null">Hello {{tempPlayer.name}}{{tempPlayer}}</div>
    <a href="#!/newQuestion">Add a Question</a> | <a href="#!/logout">Logout</a>

</br>
</br>
</br>
<form ng-submit="createPlayer()" ng-show="tempPlayer != null">
    <h2>Create an Account</h2>
</br>
    Your name: <input type="text" ng-model="player.name" value="">
    <input type="submit" name="" value="submit">
</form>
</br>
</br>
</br>

<fieldset>
    <legend>Play</legend>
    <a href="#!/allQuestions">Play the trivia game!</a>
</fieldset>
</br>
</br>
</br>

<table>
<thead>
    <tr>
        <th>Name</th>
        <th>Score</th>
        <th>Percentage</th>
    </tr>
</thead>
<tbody ng-repeat="player in players">
  <tr>
    <td>{{player.name}}</td>
    <td>{{player.score}}</td>
    <td>PERCENTAGE GOES HERE</td>
  </tr>
</tbody>
</table>
</div>
